/* all header css */
header{
  display: flex;
  z-index: 20;
  top: 0;
  background-color: black;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  align-items: center;
  font-family: Helvetica;
}
.logo {
  justify-content: flex-start;
  align-items: center;
  opacity: 0.8;
  height: 50px;
  padding: 10px 10px;
}
header, .nav .N{
  padding: 0px 4px 0px 4px;
  text-decoration: underline;
}
.N a{
  opacity: 0.8;
  color: White;
  padding-right: 40px;
}
header, .nav{
  display: flex;
  justify-content: space-between;
}
/*header css above */

/* under header*/
body{
  background-color: black;

}
.topimg{
  display: flex;
  height: 700px;
  margin: 0 auto;
  width: 1200px;
  background-image: url(../resources/images/img-mission-background.jpg);
  text-align: center;
  color: White;
}
.textbox{
  display: inline-block;
  text-align: center;
  background-color: black;
  margin: auto;
  width: 1200px;
  font-family: Helvetica;
}
/*below this line is all the footer*/
footer{
  height: 200px;
  display: flex;
  text-align: center;
  width: 100%;
  font-family: Helvetica;
}
.theteacozy{
  margin: 0 auto;

}
.end{
  color: White
}
.end2{
  color: White;
  font-family: Helvetica;
  padding-left: 20px;
}
